body {
	background-color: #121212;
}

h1 {
	color: #ffffff;
	margin-top: 40px;
	text-align: center;
	font-family: helvetica;
}

p {
	color: #b1b1b1;
	margin-left: 160px;
	font-family: trebuchet ms
}

hr {
	color: #545454;
}

.fotogit {
	margin-right: 160px; 
	float: right;
	width: 160px;
}
